.movie-card{
    display: inline-block;
    margin-left: 5%;
    margin-top: 2%;
}
.show{
  margin-left: 13%;
  margin-top: 3%;
}
.link{
  text-decoration: none;
}
.movie-container{
  margin-top: 5%;
  margin-left: 20%;
}
.figure-img{
  margin-left: 20%;
}